XCOMM 
XCOMM Imakefile  configuration file
XCOMM (provided for your conveniance
XCOMM use at your own risk!!)
XCOMM
XCOMM -- Jonathan (jallen@tigr.org)
XCOMM 

XCOMM Determine what type of compile
XCOMM we want, use _DEBUG if you
XCOMM need to get down and dirty...
XCOMM #define _DEBUG
XCOMM #define _PROFILE
XCOMM #define _PURIFY
XCOMM #define _USE_INTEL_CC

XCOMM NOTE: Flags are for gcc, not the native compiler
XCOMM        -fguiding-decls should not be needed on > 2.9

XCOMM architecture specific definitions defined in arch.config
#include "arch.config"

XCOMM gcc flags defined in gccflags.config
#include "gccflags.config"


XCOMM if possible avoid recompiling the development library when debugging
#ifdef _DEBUG
AA=aadebug
AALIB = lib$(AA).a
#else 
AA=aa
AALIB = lib$(AA).a
#endif
EXTRA_DEFINES =
CXXEXTRA_DEFINES = 

BB=bb
BBLIB = lib$(BB).a

#ifdef _USE_INTEL_CC
INCLUDES = -I/usr/local/devel/SE/IntelCompilers/intel_cc/intel_cc_80/include/c++ \
-I/usr/local/devel/SE/IntelCompilers/intel_cc/intel_cc_80/include/c++/backward \
 -I./ -I$(LOCAL_POS)/include
CXXEXTRA_LIB=-L/usr/local/devel/SE/IntelCompilers/intel_cc/intel_cc_80/lib
#else
INCLUDES = \
 -I./ -I$(LOCAL_POS)/include
#endif
