XCOMM
XCOMM
XCOMM This file contains architecture specfic differences
XCOMM that I've had to make to get my code compiling on different platforms
XCOMM This configuration file is for use with imake
XCOMM 

XCOMM 
XCOMM various FLAG rules
XCOMM 
#if defined (SunArchitecture)
CXXOPTIONS=
CCOPTIONS=$(CXXOPTIONS)
EXTRA_LOAD_FLAGS = -lstdc++ -lg++
#elif defined (LinuxArchitecture)
CXXOPTIONS=
CCOPTIONS=$(CXXOPTIONS)
EXTRA_LOAD_FLAGS = -lstdc++
#elif defined (OSF1Architecture)
TOP = ..
CXXOPTIONS=-I/local/gcc/lib/gcc-lib/alphaev56-dec-osf4.0d/2.95.3/include
CCOPTIONS=$(CXXOPTIONS)
EXTRA_LOAD_FLAGS = -lstdc++ XCOMM -lg++
#else
#error "Undefined architecure"
#endif

XCOMM various compile rules

#if defined (SparcArchitecture) && (OSMajorVersion <= 4)
XCOMM For old systems that were around before c++
XCOMM something like the following should work.
CC = $(CXX)

.C.o:
	$(CC) $(CFLAGS) -c $*.C

.cc.o:
	$(CC) $(CFLAGS) -c $*.cc

#elif defined(OSF1Architecture)

%.o : %.C
	$(CXX) $(CXXFLAGS) -c $*.C

#elif defined (LinuxArchitecture)

XCOMM linux should have built in rules already for c++ builds

#else

XCOMM Standard compiler rules

.C.o :
	$(CXX) $(CFLAGS) -c $*.C

.cpp.o:
	$(CXX) $(CFLAGS) -c $*.cpp

.cc.o:
	$(CXX) $(CFLAGS) -c $*.cc

#endif
