XCOMM 
XCOMM gcc compile flags, for the differen types of builds
XCOMM 
#ifdef _PURIFY
CXX = purify gcc
CC = purify gcc
#else
CXX = gcc -Wno-deprecated
CC = gcc -Wno-deprecated
#endif

ALWAYS_FLAGS = -Wall

#ifdef _USE_INTEL_CC
ICCDIR=/usr/local/devel/SE/IntelCompilers/intel_cc/intel_cc_80
XCOMM CXX = icc -I$(ICCDIR)/include/c++ -I$(ICCDIR)/include/c++/backward -I/usr/include -cxxlib-icc -fast -xK
CXX = icc
CC = icc
EXTRA_LOAD_FLAGS = -lunwind -lcprts -lcxa
ALWAYS_FLAGS =
XCOMM CXXDEBUGFLAGS = -xK -ipo -O3 -D_RUNTIME_DEBUG=0 $(ALWAYS_FLAGS)
CXXDEBUGFLAGS = -xK -O3 -D_RUNTIME_DEBUG=0 $(ALWAYS_FLAGS)
CDEBUGFLAGS = $(CXXDEBUGFLAGS)
EXTRA_LDOPTIONS = -cxxlib-icc -s -static
#endif

#if defined (_DEBUG)
XCOMM
XCOMM using debug flags
XCOMM
CXXDEBUGFLAGS = -g -D_RUNTIME_DEBUG=3 -D_DEBUG $(ALWAYS_FLAGS) -fno-inline
CDEBUGFLAGS = $(CXXDEBUGFLAGS)
INSTPGMFLAGS =

#elif defined (_PROFILE)
XCOMM
XCOMM using profiler flags
XCOMM
CXXDEBUGFLAGS = -O3 -D_RUNTIME_DEBUG=0 -pg -D_PROFILE $(ALWAYS_FLAGS)
CDEBUGFLAGS = $(CXXDEBUGFLAGS)

#elif defined (_PURIFY)
XCOMM
XCOMM using flags for using purify
XCOMM
CXXDEBUGFLAGS = -g -D_RUNTIME_DEBUG=0 $(ALWAYS_FLAGS) -fno-inline
CDEBUGFLAGS = $(CXXDEBUGFLAGS)
EXTRA_LOAD_FLAGS = -lstdc++ -lg++

#elif !defined (_USE_INTEL_CC)
XCOMM
XCOMM using default flags (for delivery)
XCOMM
CXXDEBUGFLAGS = -O3 -D_RUNTIME_DEBUG=0 $(ALWAYS_FLAGS)
CDEBUGFLAGS = $(CXXDEBUGFLAGS)
EXTRA_LDOPTIONS = -s -static
#endif
